#for python2.7 install pyglet 
pip install pyglet==1.2.4


#for python 3
pip3 install pyglet==1.2.4


where you download avbin then select the drive and run on teh terminal 
:~/Downloads/avbin-linux-x86-64-7$ sudo ./install.sh 


